img.pokemon {
  /* height: 40vh; */
  height: 40vmin;
  width: 40vmin;
  /* -webkit-animation: pokemon-spin infinite 20s linear;
  animation: pokemon-spin infinite 20s linear; */
}
/*
@-webkit-keyframes pokemon-spin {
  from {-webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);  }
  to { -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }
}
@-o-keyframes pokemon-spin {
  from {-webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);  }
  to { -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }
}
@-moz-keyframes pokemon-spin {
  from {-webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);  }
  to { -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }
}
@keyframes pokemon-spin {
  from {-webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);  }
  to { -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }
} */
